*{font-family: 'Roboto', sans-serif;}
.container{margin: 0 auto;max-width: 1200px;}
h2{margin-top: 64px;}
p,ol{font-size: 18px;}
a { text-decoration: none; color:#3367d6 } 
a:visited { text-decoration: none; color:#3367d6; }
a:hover { text-decoration: none; color:#3367d6; }
a:hover, a:active { text-decoration: none; color:#3367d6 }
.accordion {background-color: #eee; color: #444; cursor: pointer; padding: 18px; width: 100%; text-align: left; border: none; outline: none; transition: 0.4s;}
.active, .accordion:hover {background-color: #ccc;}
.panel {padding: 0 18px; background-color: white; display: none; overflow: hidden;}